<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{favicon}}" type="image/x-icon">
	<title>
		{{filename}}
	</title>
</head>

<body>
	<div class="wrapper">
		{{> header}}
		<main class="main">
			<div class="name-page-block grid">
				<div class="name-page-block__body center">
					<div class="name-page-block__list">
						<span>Homepage / </span>
						<span>Services</span>
					</div>
					<h1 class="name-page-block__title">
						Services
					</h1>
					<p class="name-page-block__text">
						If you are looking for a full-service construction company, look to Createx Construction Bureau.
						We
						are
						doing our best to be a partner for all of your construction needs.
					</p>
				</div>
			</div>
		</main>
		{{> discuss}}
		{{> footer}}
		{{> goTop}}
	</div>
</body>

</html>