@import "@s-common/error";

.discuss-cover {
	z-index: -1;
	margin: 0 -15px;
	position: relative;
	grid-column: 1/4;
	grid-row: 1/2;
	min-height: 100%;
	@include img-adaptive();
}
.discuss {
	&__box {
		grid-column: 2/3;
		grid-row: 1/2;
		display: flex;
		justify-content: flex-end;
		padding: 80px 0;
	}
	&__body {
		max-width: 495px;
		max-height: 665px;
		position: relative;
		display: flex;
		flex-direction: column;
		max-width: 415px;
		padding: 48px 40px;
		background: white;
		border-radius: 4px;
		border: 1px solid #e5e8ed;
	}
	&__title {
		text-align: center;
		font-size: 28px;
		line-height: 150%;
		font-family: "Ubu-B";
		color: $titles;
	}
	&__form {
		display: flex;
		flex-direction: column;
		margin: 24px 0 0;
	}
	&__form-field {
		display: flex;
		flex-direction: column;
		&:not(:first-child) {
			margin: 20px 0 0;
		}
	}
	&__form-field-checkbox {
		margin: 25px 0 0;
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		column-gap: 8px;
		cursor: pointer;
		position: relative;
		&::before {
			top: -15px;
			left: 4px;
		}
	}
	&__label {
		@include label;
		cursor: pointer;
	}
	&__input {
		@include input;
		margin: 8px 0 0;
	}
	&__textarea {
		height: 66px;
		overflow: auto;
		resize: none;
		@include input;
		margin: 8px 0 0;
	}
	&__checkbox {
		position: absolute;
		left: 0;
		margin: 5px 0 0 0;
		width: 24px;
		height: 24px;
		z-index: 1;
		cursor: pointer;
		opacity: 0;
	}
	&__custom-checkbox {
		margin: 5px 0 0 0;
		width: 21px;
		height: 18px;
		border: 3px solid $primary;
		border-radius: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		&::before {
			content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" viewBox="0 0 24 24" fill="none"><g id="Mark"><path id="Line (Stroke)" fill-rule="evenodd" clip-rule="evenodd" d="M21.7071 5.29289C22.0976 5.68342 22.0976 6.31658 21.7071 6.70711L9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071L2.29289 12.7071C1.90237 12.3166 1.90237 11.6834 2.29289 11.2929C2.68342 10.9024 3.31658 10.9024 3.70711 11.2929L9 16.5858L20.2929 5.29289C20.6834 4.90237 21.3166 4.90237 21.7071 5.29289Z" fill="white"/></g></svg>');
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $primary;
			transform: scale(0);
			transition: all 0.3s ease;
		}
	}
	&__btn {
		align-self: center;
		margin: 24px 0 0;
		@include solid-btn(14px, 44px, 4px, 32px);
	}
	&__success-block {
		display: flex;
		width: 100%;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		left: -1px;
		text-align: center;
		background-color: $titles;
		border: 1px solid $primary;
		border-radius: 6px;
		box-shadow: 0 0 10px 1px rgba($color: $primary, $alpha: 0.6);
		z-index: 100;
		transition: all 0.5s ease;
		transform: scaleY(0);
		p {
			&::before {
				content: attr(data-success-text);
				color: $text;
			}
		}
		h5 {
			margin: 40px 0 0;
			font-size: 40px;
			user-select: none;
			font-family: "Ubu-B";
			color: $primary;
			text-shadow: 0 0 4px rgba($color: $text, $alpha: 0.5);
			letter-spacing: 0.2rem;
		}
		p {
			margin: 50px 30px 0;
			font-size: 30px;
			line-height: 130%;
		}
		button {
			margin: 100px 0 40px;
			align-self: center;
			@include solid-btn(20px, 44px, 4px, 50px);
		}
	}
}
.discuss__checkbox:checked + .discuss__custom-checkbox::before {
	transform: scale(1);
}
