<section class="benefits grid invisible">
	<div class="benefits__body center">
		<div class="benefits__title title-block">
			<h2 class="title-block__title">
				Our benefits
			</h2>
			<h4 class="title-block__subtitle">
				Our mission is to set the highest standards for construction sphere.
			</h4>
			<ul class="benefits__list">
				<li class="benefits__item">
					<img src="/assets/vendors/contract.svg" alt="Contract">
					<div class="benefits__item-box">
						<h4 class="benefits__item-title">
							Fixed Terms & Cost
						</h4>
						<p class="benefits__item-text">
							Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip
							sunt.
						</p>
					</div>
				</li>
				<li class="benefits__item">
					<img src="/assets/vendors/helmet.svg" alt="Helmet">
					<div class="benefits__item-box">
						<h4 class="benefits__item-title">
							Qualified Workers
						</h4>
						<p class="benefits__item-text">
							Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor
							est ea.
						</p>
					</div>
				</li>
				<li class="benefits__item">
					<img src="/assets/vendors/camera.svg" alt="Camera">
					<div class="benefits__item-box">
						<h4 class="benefits__item-title">
							Supervision & Control
						</h4>
						<p class="benefits__item-text">
							Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident
							ea ad.
						</p>
					</div>
				</li>
			</ul>
			<a href="#discuss" class="benefits__button solid-button">
				Discuss a project
			</a>
		</div>
	</div>
</section>