<div id="discuss" class="discuss grid">
	<section class="discuss-cover">
		<img id="discussImage" class="image-adaptive" alt="Image not found...">
	</section>
	<div class="discuss__box">
		<div class="discuss__body">
			<h2 class="discuss__title">
				A quick way to discuss details
			</h2>
			<form class="discuss__form" id="discussForm">
				<div class="discuss__form-field" data-error-text="Please use only letters">
					<label class="discuss__label label" for="name">Name*</label>
					<input class="discuss__input input" data-typeCheck="letters" data-required="true" type="text"
						id="name" name="name" placeholder="Your name" autocomplete="name">
				</div>
				<div class="discuss__form-field" data-error-text="Please use only numbers">
					<label class="discuss__label label" for="phone">Phone*</label>
					<input class="discuss__input input" data-typeCheck="numbers" data-required="true" type="text"
						id="phone" name="phone" placeholder="Your phone number" autocomplete="tel">
				</div>
				<div class="discuss__form-field" data-error-text="Please enter valid Email(example@mail.com)">
					<label class="discuss__label label" for="email">Email:</label>
					<input class="discuss__input input" data-typeCheck="email" type="text" id="email" name="email"
						placeholder="Your working email" autocomplete="email">
				</div>
				<div class="discuss__form-field" data-error-text="Ask your qustion">
					<label class="discuss__label label" for="message">Message*</label>
					<textarea class="discuss__textarea input" data-required="true" id="message" name="message"
						placeholder="Your message"></textarea>
				</div>
				<div class="discuss__form-field-checkbox"
					data-error-text="&dArr;	This agreement allows us to contact you">
					<label for="agreement" class="discuss__label">
						I agree to receive communications from Createx Construction Bureau.
					</label>
					<input class="discuss__checkbox" type="checkbox" id="agreement" name="agreement">
					<span class="discuss__custom-checkbox"></span>
				</div>
				<button class="discuss__btn regular-button" type="submit">Send request</button>
			</form>
			<div id="discussSuccess" class="success-block">
				<h5>Congratulations!</h5>
				<p
					data-success-text="Your question has been sent to our consultant, please wait for the answer to your contact details.">
				</p>
				<button id="discussClose" class="regular-button">Great!</button>
			</div>
		</div>
	</div>

</div>