<div class="do-it">
	<h2 class="do-it__title">
		That’s how we do it
	</h2>
	<ul class="do-it__list">
		<li class="do-it__item">
			<div class="do-it__item-number">
				01
			</div>
			<h3 class="do-it__item-title">
				Work Estimate
			</h3>
			<p class="do-it__item-description">
				Culpa nostrud commodo ea consequat aliquip reprehenderit.
			</p>
		</li>
		<li class="do-it__item">
			<div class="do-it__item-number">
				02
			</div>
			<h3 class="do-it__item-title">
				Contract
			</h3>
			<p class="do-it__item-description">
				Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.
			</p>
		</li>
		<li class="do-it__item">
			<div class="do-it__item-number">
				03
			</div>
			<h3 class="do-it__item-title">
				Work Estimate
			</h3>
			<p class="do-it__item-description">
				Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
			</p>
		</li>
		<li class="do-it__item">
			<div class="do-it__item-number">
				04
			</div>
			<h3 class="do-it__item-title">
				Construction Work
			</h3>
			<p class="do-it__item-description">
				Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.
			</p>
		</li>
	</ul>
</div>