<div class="do-it">
	<div class="title-block text-left">
		<h2 class="title-block__title">
			That’s how we do it
		</h2>
	</div>
	<ul class="do-it__list">
		<li class="do-it__item">
			<div class="title-block text-left">
				<h2 class="title-block__title">
					01
				</h2>
				<div class="dash-line">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<h3 class="do-it__item-title">
				Work Estimate
			</h3>
			<p class="do-it__item-description">
				Culpa nostrud commodo ea consequat aliquip reprehenderit.
			</p>
		</li>
		<li class="do-it__item">
			<div class="title-block text-left">
				<h2 class="title-block__title">
					02
				</h2>
				<div class="dash-line">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<h3 class="do-it__item-title">
				Contract
			</h3>
			<p class="do-it__item-description">
				Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.
			</p>
		</li>
		<li class="do-it__item">
			<div class="title-block text-left">
				<h2 class="title-block__title">
					03
				</h2>
				<div class="dash-line">
					<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
				</div>
			</div>
			<h3 class="do-it__item-title">
				Work Estimate
			</h3>
			<p class="do-it__item-description">
				Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
			</p>
		</li>
		<li class="do-it__item">
			<div class="title-block text-left">
				<h2 class="title-block__title">
					04
				</h2>
			</div>
			<h3 class="do-it__item-title">
				Construction Work
			</h3>
			<p class="do-it__item-description">
				Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.
			</p>
		</li>
	</ul>
</div>