<div class="opinion" id="opinion">
	<div class="opinion__body">
		<div class="opinion__title title-block">
			<h2 class="title-block__title">
				What our clients are saying
			</h2>
		</div>
		<div class="opinion__content">
			<div class="opinion__content-img">
				<img class="image-adaptive" id="opinionBoxImg" alt="some face">
			</div>
			<p class="opinion__content-text" id="opinionText">
			</p>
			<div class="opinion__content-info">
				<div class="opinion__content-info-user">
					<h3 class="opinion__content-info-user-name" id="opinionUserName">
					</h3>
					<div class="opinion__content-info-user-work" id="opinionUserWork">
						<span id="opinionUserJob"></span>,
						<span id="opinionUserPosition"></span>
					</div>
				</div>
				<div class="opinion__content-info-buttons">
					<button type="button" class="arrow" id="opinionToLeft">
						<img src="assets/vendors/arrow-left.svg" alt="go left">
					</button>
					<button type="button" class="arrow" id="opinionToRight">
						<img src="assets/vendors/arrow-right.svg" alt="go left">
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="opinion__image-block">
		<img id="supportBoxBg" class="image-adaptive" alt="Two men shaking hands">
	</div>
</div>