<section class="pricing grid">
	<div class="pricing__background">
		<img class="image-adaptive" src="/assets/static-images/pricing-bg.png" alt="">
	</div>
	<div class="pricing__body invisible center">
		<div class="pricing__title title-block">
			<h2 class="title-block__title">
				Pricing
			</h2>
			<h4 class="title-block__subtitle">
				We offer you three categories of construction.
			</h4>
		</div>
		<table class="pricing__table">
			<tr class="pricing__table-row">
				<th>
					<h3 class="pricing__service-name first">
						Items
					</h3>
				</th>
				<th>
					<h3 class="pricing__table-title">
						basic
						<br>
						<span>
							$20per m2
						</span>
					</h3>
				</th>
				<th>
					<h3 class="pricing__table-title">
						standard
						<br>
						<span>
							$30per m2
						</span>
					</h3>
				</th>
				<th>
					<h3 class="pricing__table-title">
						business
						<br>
						<span>
							$40per m2
						</span>
					</h3>
				</th>
			</tr>
			<tr class="pricing__table-row">
				<td>
					<h3 class="pricing__service-name">
						Installation plan
					</h3>
				</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Planning solutions (2-3 options)
					</h3>
				</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Lighting plan
					</h3>
				</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Flooring plan
					</h3>
				</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Heating floor laying scheme
					</h3>
				</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Air conditioner zones layout
					</h3>
				</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						3D visualization of all rooms
					</h3>
				</td>
				<td class="pricing__value">simplified</td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Visualization of each room (3-4 angles)
					</h3>
				</td>
				<td></td>
				<td></td>
				<td><img class="pricing__svg" src="/assets/vendors/Done.svg" alt="IT IS"></td>
			</tr>
			<tr class="pricing__table-row">
				<td class="pricing__service-name">
					<h3 class="pricing__service-name">
						Terms
					</h3>
				</td>
				<td class="pricing__value">10 days</td>
				<td class="pricing__value">20 days</td>
				<td class="pricing__value">30 days</td>
			</tr>
			<tr class="pricing__table-row">
				<td></td>
				<td>
					<button class="outline-regular-btn table-button">send request</button>
				</td>
				<td>
					<button class="outline-regular-btn table-button">send request</button>
				</td>
				<td>
					<button class="outline-regular-btn table-button">send request</button>
				</td>
			</tr>
		</table>
		{{> supported-by}}
	</div>
</section>