<div class="our-work__body  center">
	<div class="our-work__body-top">
		<div class="our-work__title title-block">
			<h2 class="title-block__title">
				{{title}}
			</h2>
		</div>
		<div class="our-work__buttons">
			<button type="button" id="{{id}}-skip-left" class="arrow">
				<img src="assets/vendors/arrow-left.svg" alt="go left">
			</button>
			<button type="button" id="{{id}}-skip-right" class="arrow">
				<img src="assets/vendors/arrow-right.svg" alt="go right">
			</button>
		</div>
	</div>
	<div class="our-work__content" id="{{id}}-container">

	</div>
	<div class="our-work__box view-more-block">
		<p class="view-more-block__title">
			Explore all our works
		</p>
		<a class="view-more-block__link solid-button" href="#">
			view portfolio
		</a>
	</div>
</div>