<div class="supported-by">
	<div class="supported-by__title title-block">
		<h2 class="title-block__title">
			Supported by 12+ partners
		</h2>
	</div>
	<div class="supported-by__list">
		<div>
			<img class="image-adaptive" src="/assets/vendors/Support-1.svg" alt="Client one">
		</div>
		<div>
			<img class="image-adaptive" src="/assets/vendors/Support-2.svg" alt="Client two">
		</div>
		<div>
			<img class="image-adaptive" src="/assets/vendors/Support-3.svg" alt="Client three">
		</div>
		<div>
			<img class="image-adaptive" src="/assets/vendors/Support-4.svg" alt="Client four">
		</div>
		<div>
			<img class="image-adaptive" src="/assets/vendors/Support-5.svg" alt="Client five">
		</div>
		<div>
			<img class="image-adaptive" src="/assets/vendors/Support-6.svg" alt="Client six">
		</div>
	</div>
</div>