@import '@s-common/vars';
@import '@s-common/mixins';
@import '@s-templates/advantages';
@import '@s-templates/supported-by';

@media (max-width: $desktop) {
}
@media (max-width: $tablet) {
}
@media (max-width: $phone) {
}

.for-about {
	left: calc(100% - 675px);
	right: -25px;
	width: 675px;
	height: 650px;
	z-index: 1;
}
.for-about-static {
	left: calc(100% - 1025px);
	width: 1025px;
	height: 800px;
	opacity: 0.6;
}
.our-life {
	background-color: $main-bg;
	position: relative;
	&__body {
		z-index: 2;
		padding: 120px 0;
		@media (max-width: $desktop) {
			padding: 80px 0;
		}
		@media (max-width: $tablet) {
			padding: 60px 0;
		}
		@media (max-width: $phone) {
			padding: 40px 0;
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			row-gap: 25px;
		}
	}
	&__item:not(:last-child) {
		flex: 0 1 19.5%;
		@media (max-width: $desktop) {
			flex: 0 1 25%;
		}
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
	}
	&__item {
		text-align: center;
		@media (max-width: $desktop) {
			flex: 0 1 25%;
		}
		@media (max-width: $tablet) {
			flex: 0 1 50%;
		}
		@media (max-width: $phone) {
			&:first-child {
				flex: 0 1 100%;
				display: flex;
				column-gap: 10px;
				align-items: center;
			}
			&:last-child {
				flex: 0 1 100%;
			}
		}
	}
	&__item-icon {
		path {
			fill: $desc;
		}
		@media (max-width: $tablet) {
			svg {
				width: 25px;
				height: 25px;
			}
		}
	}
	&__item-value {
		margin: 20px 0 0;
		font-family: 'Ubu-B';
		color: $primary;
		font-size: 46px;
		line-height: 130%;
		@media (max-width: $desktop) {
			font-size: 32px;
			margin: 10px 0 0;
		}
		@media (max-width: $phone) {
			font-size: 24px;
			margin: 0;
		}
	}
	&__item-text {
		margin: 8px 0 0;
		line-height: 150%;
		color: $titles;
		@media (max-width: $phone) {
			font-size: 17px;
			margin: 0;
		}
	}
	&__signature {
		padding: 120px 0 0;
		display: flex;
		@media (max-width: $desktop) {
			padding: 65px 0 0;
		}
		@media (max-width: $tablet) {
			flex-wrap: wrap;
			padding: 40px 0 0;
		}
		@media (max-width: $phone) {
			justify-content: center;
			padding: 20px 0 0;
		}
	}
	&__signature-image {
		margin: 120px 0 0;
		min-width: 525px;
		height: 580px;
		position: relative;
		overflow: hidden;
		border-radius: 4px;
		@media (max-width: $desktop) {
			flex: 0 1 50%;
			min-width: auto;
			height: 510px;
			margin: 50px 0 0;
		}
		@media (max-width: $tablet) {
			flex: 0 1 80%;
		}
		@media (max-width: $phone) {
			flex: 0 1 80%;
			height: 350px;
		}
	}
	&__signature-info {
		z-index: 2;
		background: $main-bg;
		padding: 80px 105px 80px 135px;
		margin: 0 0 130px -30px;
		border-radius: 4px;
		box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
			0px 12px 10px -6px rgba(154, 156, 165, 0.04),
			0px 30px 24px -10px rgba(154, 156, 165, 0.05),
			0px 80px 80px -20px rgba(154, 156, 165, 0.08);
		@media (max-width: $desktop) {
			flex: 0 1 50%;
			padding: 40px 80px;
			margin: 0 0 50px -30px;
		}
		@media (max-width: $tablet) {
			flex: 0 1 80%;
			margin: -100px 0 30px calc(100% - 80%);
		}
		@media (max-width: $phone) {
			flex: 0 1 100%;
			padding: 20px 30px;
			margin: -100px 0 0;
		}
	}
	&__signature-info-text {
		position: relative;
		font-family: 'Ubu-B';
		font-size: 20px;
		line-height: 150%;
		color: $titles;
		@media (max-width: $desktop) {
			font-size: 16px;
		}
		@media (max-width: $phone) {
			font-size: 12px;
		}
		span {
			position: absolute;
			left: -50px;
			@media (max-width: $phone) {
				left: -20px;
				svg {
					width: 10px;
					height: 10px;
				}
			}
		}
	}
	&__signature-value {
		margin: 60px 0 0;
		display: flex;
		justify-content: space-between;
	}
	&__signature-value-name {
		display: flex;
		flex-direction: column;
		span:first-child {
			color: $titles;
			font-family: 'Ubu-B';
			font-size: 16px;
			line-height: 160%;
		}
		span:last-child {
			margin: 4px 0 0 0;
			color: $desc;
			font-size: 14px;
			line-height: 150%;
		}
	}
	&__signature-value-sign path {
		fill: $primary;
	}
	.for-our-life {
		width: 1025px;
		height: 825px;
		left: calc(100% - 500px);
		top: calc(100% - 400px);
	}
}
.our-core-about {
	background: $auxiliary-bg;
	z-index: 1;
	&__body {
		padding: 80px 0;
		@media (max-width: $desktop) {
			padding: 60px 0;
		}
		@media (max-width: $tablet) {
			padding: 40px 0;
		}
	}
}
.our-history {
	background: $auxiliary-bg;
	&__body {
		padding: 100px 0;
		@media (max-width: $desktop) {
			padding: 70px 0;
		}
		@media (max-width: $tablet) {
			padding: 50px 0;
		}
		@media (max-width: $phone) {
			padding: 20px 0;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		text-align: left;
		margin: 0;
	}
	&__buttons {
		display: flex;
	}
	.history-arrow {
		background: $auxiliary-bg;
		&:hover {
			background: $primary;
		}
	}
	&__content {
		margin: 60px 0 0 0;
		display: flex;
		justify-content: space-between;
		@media (max-width: $desktop) {
			margin: 40px 0 0 0;
		}
		@media (max-width: $tablet) {
			margin: 20px 0 0 0;
		}
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	&__list {
		padding: 0 0 0 33px;
		margin: 0 20px 0 0;
		flex: 0 0 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-left: 1px solid rgba($color: $desc, $alpha: 0.8);
		@media (max-width: $tablet) {
			flex-direction: row;
			border-left: none;
			flex: none;
			margin: 0;
			padding: 0;
			text-align: center;
			flex-wrap: wrap;
			justify-content: center;
			li {
				flex: 1 0 12.5%;
				padding: 15px 10px;
				border-top: 1px solid rgba($color: $desc, $alpha: 0.8);
			}
		}
		@media (max-width: $phone) {
			li {
				padding: 10px 5px;
			}
		}
	}
	&__list-item {
		display: none;
		&:checked ~ .our-history__list-name {
			color: $primary;
			&::before {
				background: $primary;
			}
		}
	}
	&__list-name {
		font-family: 'Ubu-B';
		font-size: 28px;
		line-height: 150%;
		color: rgba($color: $desc, $alpha: 0.8);
		position: relative;
		transition: all 0.6s ease;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			@media (max-width: $tablet) {
				top: 0;
			}
		}
		&::before {
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 50%;
			left: -37.5px;
			background: rgba($color: $desc, $alpha: 0.8);
			z-index: 2;
			@media (max-width: $tablet) {
				left: 50%;
				transform: translateX(-50%);
				top: -19.5px;
			}
			@media (max-width: $phone) {
				top: -17.5px;
			}
		}
		&::after {
			content: '';
			width: 15px;
			height: 15px;
			border-radius: 50%;
			left: -41.5px;
			background: $auxiliary-bg;
			z-index: 1;
			@media (max-width: $tablet) {
				top: -23.5px;
				left: 50%;
				transform: translateX(-50%);
			}
			@media (max-width: $phone) {
				top: -21.5px;
			}
		}
		@media (max-width: $desktop) {
			font-size: 20px;
		}
		@media (max-width: $tablet) {
			line-height: normal;
			font-size: 14px;
		}
		@media (max-width: $phone) {
			font-size: 10px;
		}
	}
	&__container {
		flex: 0 1 825px;
		@media (max-width: $tablet) {
			flex: 0 1 100%;
			display: flex;
		}
		@media (max-width: $phone) {
			flex-direction: column;
		}
	}
	&__container-image {
		position: relative;
		width: 100%;
		height: 450px;
		border-radius: 4px;
		overflow: hidden;
		@media (max-width: $desktop) {
			height: 350px;
		}
		@media (max-width: $tablet) {
			height: 250px;
		}
		@media (max-width: $phone) {
			height: 200px;
		}
	}
	&__container-description {
		margin: 36px 0 0;
		font-size: 16px;
		line-height: 160%;
		color: $links;
		@media (max-width: $tablet) {
			flex: 0 1 30%;
			font-size: 14px;
			line-height: 130%;
			margin: 0 0 0 20px;
		}
		@media (max-width: $phone) {
			margin: 10px 0 0 0;
			font-size: 12px;
		}
	}
}
.our-partners {
	background: $main-bg;
	padding: 120px 0;
	@media (max-width: $desktop) {
		padding: 60px 0;
	}
	@media (max-width: $tablet) {
		padding: 40px 0;
	}
	@media (max-width: $phone) {
		padding: 20px 0;
	}
}
.our-team {
	background: $main-bg;
	position: relative;
	&__body {
		padding: 75px 0 120px;
		z-index: 1;
		@media (max-width: $desktop) {
			padding: 60px 0;
		}
		@media (max-width: $tablet) {
			padding: 40px 0;
		}
		@media (max-width: $phone) {
			padding: 20px 0;
		}
	}
	&__list {
		margin: 60px 0 0;
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
		row-gap: 60px;
		@media (max-width: $desktop) {
			column-gap: 10px;
			row-gap: 20px;
		}
		@media (max-width: $tablet) {
			margin: 30px 0 0;
			justify-content: center;
		}
	}
	&__item {
		flex: 0 1 calc(25% - 30px);
		border-radius: 4px;
		overflow: hidden;
		@media (max-width: $desktop) {
			flex: 0 1 calc(25% - 10px);
		}
		@media (max-width: $tablet) {
			flex: 0 1 calc(33.333% - 10px);
		}
	}
	&__item:hover {
		.our-team__info-social {
			top: -60px;
			z-index: 1;
			background-color: rgba($color: $primary, $alpha: 0.7);
			@media (max-width: $tablet) {
				top: -40px;
			}
		}
	}
	&__item-image {
		width: 100%;
		height: 340px;
		position: relative;
		@media (max-width: $desktop) {
			height: 35vw;
		}
	}
	&__info {
		position: relative;
		background-color: $main-bg;
		text-align: center;
	}
	&__info-social {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: -1;
		background-color: $main-bg;
		height: 60px;
		display: flex;
		column-gap: 17px;
		justify-content: center;
		align-items: center;
		transition: all 0.6s ease;
		@media (max-width: $tablet) {
			height: 40px;
		}
	}
	&__info-social-link {
		img {
			width: 17px;
			height: 17px;
			&:hover {
				transform: scale(1.6);
			}
		}
	}
	&__info-name {
		font-family: 'Ubu-B';
		font-size: 20px;
		line-height: 150%;
		color: $links;
		padding: 16px 0 0;
		@media (max-width: $tablet) {
			padding: 7px 0 0;
			font-size: 16px;
		}
		@media (max-width: $phone) {
			font-size: 13px;
		}
	}
	&__info-position {
		margin: 4px 0 0;
		line-height: 160%;
		color: $desc;
		font-size: 16px;
		@media (max-width: $tablet) {
			font-size: 13px;
			margin: 0;
		}
		@media (max-width: $phone) {
			font-size: 10px;
		}
	}
	&__invite {
		margin: 80px 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 18px;
		line-height: 150%;
		h3 {
			color: $titles;
		}
		a {
			margin: 0 0 0 5px;
			color: $primary;
			transition: all 0.5s ease;
			&:hover {
				background-color: $primary;
				color: $text;
				padding: 0 10px;
				border-radius: 5px;
			}
		}
		@media (max-width: $tablet) {
			margin: 30px 0 0 0;
			font-size: 14px;
		}
		@media (max-width: $phone) {
			margin: 15px 0 0 0;
			font-size: 11px;
		}
	}

	.for-our-team {
		position: absolute;
		width: 790px;
		height: 635px;
		left: -360px;
		top: calc(100% - 700px);
	}
}
.map {
	background: $auxiliary-bg;
	z-index: 1;
	&__body {
		padding: 80px 0 120px;
		@media (max-width: $desktop) {
			padding: 60px 0 80px;
		}
		@media (max-width: $tablet) {
			padding: 40px 0;
		}
		@media (max-width: $phone) {
			padding: 20px 0;
		}
	}
	&__title {
		font-family: 'Ubu-B';
		font-size: 46px;
		line-height: 130%;
		color: $titles;
		text-align: center;
		@media (max-width: $desktop) {
			font-size: 36px;
		}
		@media (max-width: $tablet) {
			font-size: 24px;
		}
		@media (max-width: $phone) {
			font-size: 12px;
		}
	}
	&__image {
		margin: 60px 0 0 0;
		position: relative;
		width: 100%;
		height: calc(563px / 1260px * 100vw);
		max-height: 563px;
	}
}
