@import '@s-common/vars';
@import '@s-common/mixins';
@import '@s-templates/how-we-do-it';
@import '@s-templates/benefits';
@import '@s-templates/slider';
@import '@s-templates/portfolio-card';
@import '@s-templates/price-table';
@import '@s-templates/supported-by';

.for-service {
	left: calc(100% - 975px);
	width: 975px;
}
.services {
	background-color: $main-bg;

	&__body {
		padding: 120px 0 180px;
		display: flex;
		flex-direction: column;
		row-gap: 120px;
		@media (max-width: $desktop) {
			padding: 80px 0 30px;
			row-gap: 90px;
		}
		@media (max-width: $tablet) {
			padding: 40px 0 30px;
			row-gap: 30px;
		}
		@media (max-width: $phone) {
			padding: 20px 0;
			row-gap: 30px;
		}
	}
	&__item {
		width: 100%;
		height: 420px;
		display: flex;
		column-gap: 80px;
		overflow: hidden;
		@media (max-width: $desktop) {
			height: 350px;
			column-gap: 30px;
		}
		@media (max-width: $tablet) {
			height: 270px;
		}
		@media (max-width: 700px) {
			position: relative;
			height: auto;
		}
		&:nth-child(even) {
			flex-direction: row-reverse;
		}
	}
	&__item-image {
		flex: 0 1 50%;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 4px;
		@media (max-width: $tablet) {
			flex: 0 1 35%;
		}
		@media (max-width: 700px) {
			position: absolute;
		}
	}
	&__item-content {
		flex: 0 1 50%;
		@media (max-width: $tablet) {
			flex: 0 1 65%;
		}
		@media (max-width: 700px) {
			flex: 0 1 100%;
			z-index: 1;
			background-color: rgba($color: white, $alpha: 0.5);
			padding: 10px 15px;
		}
	}
	&__item-title {
		margin: 90px 0 0 0;
		font-size: 32px;
		font-family: 'Ubu-B';
		line-height: 150%;
		color: $titles;
		@media (max-width: $desktop) {
			margin: 20px 0 0 0;
			font-size: 24px;
		}
		@media (max-width: $tablet) {
			font-size: 20px;
			margin: 0;
		}
		@media (max-width: $phone) {
			margin: 10px 0 0 0;
			font-size: 18px;
		}
	}
	&__item-description {
		margin: 24px 0 0 0;
		line-height: 160%;
		color: $desc;
		@media (max-width: $desktop) {
			margin: 10px 0 0 0;
		}
		@media (max-width: 700px) {
			color: $titles;
			background-color: rgba($color: white, $alpha: 0.8);
			margin: 10px -15px 0;
			padding: 0 15px;
		}
	}
	&__item-btn {
		margin: 50px 0 0 0;
		@media (max-width: $desktop) {
			margin: 20px 0 0 0;
		}
	}
}
.we-offer {
	background-color: $main-bg;
	&__body {
		padding: 120px 0;
		@media (max-width: $desktop) {
			padding: 70px 0;
		}
		@media (max-width: $tablet) {
			padding: 50px 0;
		}
		@media (max-width: $phone) {
			padding: 30px 0;
		}
	}
	&__top {
		width: 100%;
		height: 440px;
		display: flex;
		justify-content: space-between;
		@media (max-width: $desktop) {
			height: 350px;
		}
		@media (max-width: $tablet) {
			height: 250px;
		}
		@media (max-width: $phone) {
			height: 150px;
		}
	}
	&__image {
		position: relative;
		flex: 0 1 57%;
		height: 100%;
		@media (max-width: $desktop) {
			flex: 0 1 50%;
		}
		@media (max-width: $phone) {
			flex: 0 1 30%;
		}
		img {
			box-shadow: 0 0 20px 0.5px rgba($color: black, $alpha: 0.6);
			border-radius: 10px;
		}
	}
	&__information {
		flex: 0 1 34.2%;
		@media (max-width: $desktop) {
			flex: 0 1 45%;
		}
		@media (max-width: $phone) {
			flex: 0 1 65%;
		}
	}
	&__information-title {
		font-size: 40px;
	}
	&__information-list {
		margin: 60px 0 0 0px;
		display: inline-flex;
		flex-direction: column;
		@media (max-width: $desktop) {
			margin: 20px 0 0 0;
		}
	}
	&__information-item {
		&:not(:first-child) {
			margin: 24px 0 0 0;
		}
		p {
			margin: 12px 0 0 0;
			font-size: 16px;
			line-height: 160%;
			color: $desc;
			padding: 0 0 0 45px;
			height: 0;
			width: 0;
			overflow-y: hidden;
			transition: width 0.2s ease;
			@media (max-width: $phone) {
				font-size: 12px;
			}
		}
		@media (max-width: $desktop) {
			&:not(:first-child) {
				margin: 12px 0 0 0;
			}
		}
	}
	&__information-button {
		width: 100%;
		display: inline-flex;
		align-items: center;
		column-gap: 20px;
		font-family: 'Ubu-B';
		font-size: 28px;
		line-height: 150%;
		text-align: left;
		@media (max-width: $desktop) {
			font-size: 22px;
			column-gap: 10px;
		}
		@media (max-width: $phone) {
			font-size: 16px;
		}
		div {
			position: relative;
			min-width: 25px;
			height: 25px;
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				width: 22px;
				height: 2px;
				border-radius: 1px;
				background-color: $primary;
				transition: all 0.6s ease;
				@media (max-width: $desktop) {
					width: 16px;
				}
			}
			&::after {
				transform: rotate(90deg);
			}
		}
	}
	&__information-button:focus {
		~ p {
			height: 130px;
			width: 100%;
			overflow-y: auto;
			@media (max-width: $phone) {
				height: 60px;
				margin: 0;
			}
		}
		div {
			transform: rotate(360deg);
			&::after {
				transform: rotate(0);
			}
		}
	}
}
.related-projects {
	background-color: $main-bg;
	&__body {
		padding: 180px 0 100px;
		@media (max-width: $desktop) {
			padding: 150px 0 100px;
		}
		@media (max-width: $tablet) {
			padding: 80px 0;
		}
		@media (max-width: $phone) {
			padding: 40px 0;
		}
	}
}
