@import '@libs/normalize';
@import '@s-common/fonts';
@import '@s-common/vars';
@import '@s-common/mixins';
@import '@s-modules/header';
@import '@s-modules/discuss';
@import '@s-modules/footer';
@import '@s-pages/homepage';
@import '@s-pages/services';
* {
	&::-webkit-scrollbar-thumb {
		background: $primary;
		border-radius: 10px;
	}
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-track {
		background: rgba($color: $titles, $alpha: 0.6);
		border-radius: 10px;
		overflow: hidden;
	}
	/* 	scroll-behavior: smooth;
 */
}
body {
	width: 100%;
	min-height: 100%;
	font-family: 'Ubu-R';
	user-select: none;
}
.invisible {
	opacity: 0;
	transform: scaleY(0);
	transition: all 1s ease;
}
.visible {
	opacity: 1;
	transform: scaleY(1);
	transition: all 1s ease;
}
.header-background {
	backdrop-filter: blur(5px);
	background-color: rgba($color: black, $alpha: 0.2);
	box-shadow: 0 5px 20px 1px rgba($color: black, $alpha: 0.3);
}
//===================================
//===================================
.wrapper {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template: minmax(90px, auto) 1fr minmax(1fr, 825px) minmax(566px, auto) / 1fr;
	grid-template-areas:
		'header'
		'main'
		'discuss'
		'footer';
}
//===================================
//===================================
.header {
	grid-area: header;
	z-index: 1000;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.5s ease;
}
.main {
	grid-area: main;
	display: flex;
	flex-direction: column;
}
.discuss {
	grid-area: discuss;
}
.footer {
	grid-area: footer;
	background-color: $titles;
}
//===================================
//===================================
.parallax-block {
	width: 100%;
	height: 600px;
	position: fixed;
	top: 0;
	background-color: $input-bg;
	z-index: -1;
}
.full-viewport {
	height: 100vh;
	top: 90px;
}
.name-page-block {
	height: 510px;
	@media (max-width: $tablet) {
		height: 400px;
	}
	&__body {
		margin: 70px 0 0 0;
		max-width: 600px;
		@media (max-width: $tablet) {
			width: 100%;
		}
	}
	&__list {
		color: $links;
		font-size: 14px;
		line-height: 150%;
		display: inline-flex;
		@media (max-width: $tablet) {
			background-color: rgba($color: white, $alpha: 1);
			padding: 5px 15px;
			border-radius: 10px;
			box-shadow: 0 0 10px 0.5px rgba($color: black, $alpha: 0.5);
		}
		li a {
			transition: all 0.5s ease;
		}
		li:last-child {
			color: #9a9ca5;
		}
	}
	&__title {
		margin: 40px 0 0 0;
		font-family: 'Ubu-B';
		color: $titles;
		font-size: 72px;
		line-height: 130%;
		letter-spacing: 1px;
		@media (max-width: $desktop) {
			margin: 30px 0 0 0;
			font-size: 50px;
		}
		@media (max-width: $tablet) {
			font-size: 34px;
		}
	}
	&__text {
		color: $desc;
		margin: 24px 0 0 0;
		font-size: 20px;
		line-height: 150%;
		@media (max-width: $desktop) {
		}
		@media (max-width: $tablet) {
			margin: 20px 0 0 0;
			font-size: 17px;
			background-color: rgba($color: white, $alpha: 0.8);
			padding: 5px 15px;
			border-radius: 10px;
			box-shadow: 0 0 10px 0.5px rgba($color: black, $alpha: 0.5);
		}
		@media (max-width: $phone) {
			padding: 20px 0 20px 5px;
			row-gap: 30px;
		}
	}
}
.go-top {
	position: fixed;
	display: flex;
	column-gap: 16px;
	bottom: 4%;
	right: 4%;
	background: none;
	opacity: 0;
	transition: all 0.5s ease;
	font-weight: 600;
	text-shadow: 0 0 4px rgba($color: $text, $alpha: 0.6);
	z-index: 100;
	&__text {
		align-self: flex-end;
		font-size: 14px;
		color: $primary;
		line-height: 150%;
		@media (max-width: $desktop) {
			margin: 10px 0 0;
			align-self: flex-end;
			writing-mode: vertical-lr;
			font-size: 16px;
		}
	}
	&__squer {
		width: 40px;
		height: 40px;
		border-radius: 4px;
		background: $primary;
		position: relative;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			top: 65%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
			border-left: 3px solid $text;
			border-top: 3px solid $text;
		}
		@media (max-width: $desktop) {
			width: 15px;
			height: 25px;
			&::before {
				width: 10px;
				height: 10px;
			}
		}
	}
	@media (max-width: $desktop) {
		flex-direction: column-reverse;
		right: 5px;
		align-items: center;
	}
}
.success-block {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	left: -1px;
	text-align: center;
	background-color: $titles;
	border: 1px solid $primary;
	border-radius: 6px;
	box-shadow: 0 0 10px 1px rgba($color: $primary, $alpha: 0.6);
	z-index: 100;
	transition: all 0.5s ease;
	transform: scaleY(0);

	h5 {
		margin: 40px 0 0;
		font-size: 40px;
		user-select: none;
		font-family: 'Ubu-B';
		color: $primary;
		text-shadow: 0 0 4px rgba($color: $text, $alpha: 0.5);
		letter-spacing: 0.2rem;
	}
	p {
		margin: 50px 30px 0;
		font-size: 30px;
		line-height: 130%;
		&::before {
			content: attr(data-success-text);
			color: $text;
		}
	}
	button {
		margin: 100px 0 40px;
		align-self: center;
	}
}
