.error {
	&__box {
		border: 1px solid rgba(179, 3, 3, 0.7);
		box-shadow: 0 0 4px 0.5px rgba($color: #830000, $alpha: 0.5);
	}
	position: relative;
	&::before {
		content: attr(data-error-text);
		position: absolute;
		right: 0;
		color: rgba(179, 3, 3, 0.7);
		font-family: "Ubu-B";
		font-size: 14px;
	}
}
