//==============================================
//BUTTONS=======================================
//==============================================

@mixin buttons {
	display: inline-flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Ubu-B';
	transition: all 0.4s ease;
	letter-spacing: 0.5px;
	border-radius: 4px;
}
.solid-button {
	font-size: 16px;
	height: 52px;
	color: $text;
	background-color: $primary;
	padding: 0 40px;
	border: 1px solid transparent;
	@include buttons;
	&:hover {
		background: $text;
		color: $primary;
		border: 1px solid $primary;
	}
}
.regular-button {
	font-size: 14px;
	height: 44px;
	color: $text;
	background-color: $primary;
	padding: 0 32px;
	border: 1px solid transparent;
	@include buttons;
	&:hover {
		background: $text;
		color: $primary;
		border: 1px solid $primary;
	}
}
.outline-solid-btn {
	font-size: 16px;
	color: $primary;
	height: 52px;
	background-color: transparent;
	padding: 0 40px;
	border: 1px solid $primary;
	@include buttons;
	&:hover {
		background: $text;
		color: $primary;
		border: 1px solid $primary;
	}
}
.outline-regular-btn {
	font-size: 14px;
	color: $primary;
	height: 44px;
	background-color: transparent;
	padding: 0 32px;
	border: 1px solid $primary;
	@include buttons;
	&:hover {
		color: $text;
		background: $primary;
		border: 1px solid $primary;
	}
}
.arrow {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	transition: all 0.4s ease;
	&:hover {
		transition: all 0.3s ease;
		background: $primary;
		img {
			transition: all 0.4s ease;
			filter: invert(1);
		}
	}
	@media (max-width: $tablet) {
		width: 32px;
		height: 32px;
	}
}
//==============================================
//FORM TAGS=====================================
//==============================================
@mixin label-text {
	color: $links;
	font-size: 14px;
	font-style: normal;
	line-height: 150%;
}
.link-hover {
	&:hover {
		color: $primary;
	}
}
.label {
	@include label-text;
}
.input {
	@include label-text;
	padding: 11px 0 12px 16px;
	border: 1px solid $input-bor;
	background-color: $input-bg;
	border-radius: 4px;
}
//==============================================
//BLOCKS========================================
//==============================================
.title-block {
	margin: 0 auto;
	text-align: center;
	&__title {
		font-family: 'Ubu-B';
		font-size: 46px;
		line-height: 130%;
		color: $titles;
		@media (max-width: $desktop) {
			font-size: 40px;
		}
		@media (max-width: $tablet) {
			font-size: 25px;
		}
		@media (max-width: $phone) {
			font-size: 18px;
		}
	}
	&__subtitle {
		margin: 24px 0 0;
		font-size: 18px;
		line-height: 150%;
		color: $desc;
		font-family: 'Ubu-R';
		font-weight: 400;
		@media (max-width: $tablet) {
			font-size: 15px;
			margin: 12px 0 0;
		}
		@media (max-width: $phone) {
			margin: 10px 0 0;
			font-size: 13px;
		}
	}
}
.view-more-block {
	display: flex;
	column-gap: 40px;
	&__title {
		color: $titles;
		font-size: 28px;
		font-family: 'Ubu-B';
		line-height: 150%;
		@media (max-width: $tablet) {
			font-size: 24px;
			flex: 0 1 100%;
		}
	}
	&__link {
		@media (max-width: $tablet) {
			height: 30px;
		}
	}
	@media (max-width: $tablet) {
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		row-gap: 10px;
		margin: 20px 0 0;
	}
}
.portfolio-card {
	flex: 0 1 33.3333%;
	text-align: center;
	border-radius: 4px 4px 0 0;
	box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04),
		0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 80px 80px -20px rgba(154, 156, 165, 0.08);
	position: relative;
	overflow: hidden;
	padding: 0 0 90px;
	&:hover .portfolio-card__box {
		height: 37.5%;
	}
	@media (max-width: $desktop) {
		padding: 0 0 50px;
	}
	@media (max-width: $tablet) {
		flex: 0 1 100%;
		display: flex;
		flex-direction: row;
		padding: 0;
	}
	@media (max-width: $phone) {
		flex-direction: column;
		padding: 0 0 50px;
	}
	&__img {
		height: 345px;
		position: relative;
		@media (max-width: $desktop) {
			height: 240px;
		}
		@media (max-width: $tablet) {
			flex: 0 1 55%;
			height: 180px;
		}
		@media (max-width: $phone) {
			flex: 0 1 100%;
			min-height: 200px;
		}
	}
	&__box {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 21.6%;
		background-color: $main-bg;
		padding: 15px 0 25px;
		transition: all 0.3s ease-out;
		@media (max-width: $tablet) {
			position: relative;
			height: 100%;
			width: 45%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
		}
		@media (max-width: $phone) {
			position: absolute;
			width: 100%;
			height: 21.6%;
			bottom: 0;
			padding: 25px 10px 5px;
		}
	}
	&__box-title {
		font-family: 'Ubu-B';
		font-size: 20px;
		line-height: 105%;
		color: $titles;
		@media (max-width: $desktop) {
			font-size: 15px;
			line-height: 1;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: $phone) {
		}
	}
	&__box-subtitle {
		margin: 15px 0 0;
		font-size: 14px;
		color: $desc;
		line-height: 150%;
		@media (max-width: $desktop) {
			margin: 10px 0 0;
			font-size: 12px;
			line-height: 1;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: $phone) {
		}
	}
	&__box-btn {
		margin: 24px 0 0;
		@media (max-width: $desktop) {
			margin: 13px 0 0;
			height: 30px;
			font-size: 13px;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: $phone) {
		}
	}
}
//==============================================
//ADAPTIVE && DISPLAY======================================
//==============================================
.grid {
	display: grid;
	grid-template: 1fr/1fr minmax(auto, 1230px) 1fr;
	padding: 0 15px;
}
.center {
	grid-column: 2/3;
}
.image-adaptive {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: cover;
}
