@mixin solid-btn() {
	display: flex;
	align-items: center;
	font-family: "Ubu-B";
	font-size: 16px;
	height: 52px;
	color: $text;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	background-color: $primary;
	border: none;
	border-radius: 4px;
	padding: 0 40px;
	cursor: pointer;
	transition: all 0.4s ease;
	box-sizing: border-box;
	justify-content: center;
	&:hover {
		background: $text;
		color: $primary;
		border: 1px solid $primary;
	}
}
@mixin regular-btn() {
	display: flex;
	align-items: center;
	font-family: "Ubu-B";
	font-size: 14px;
	line-height: 44px;
	height: 44px;
	color: $text;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	background-color: $primary;
	border: none;
	border-radius: 4px;
	padding: 0 32px;
	cursor: pointer;
	transition: all 0.4s ease;
	box-sizing: border-box;
	justify-content: center;
	&:hover {
		background: $text;
		color: $primary;
		border: 1px solid $primary;
	}
}
@mixin outline-solid-btn() {
	display: flex;
	align-items: center;
	font-family: "Ubu-B";
	font-size: 16px;
	height: 52px;
	color: $text;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-align: center;
	background-color: transparent;
	border: 1px solid $text;
	border-radius: 4px;
	padding: 0 40px;
	cursor: pointer;
	transition: all 0.4s ease;
	box-sizing: border-box;
	justify-content: center;
	&:hover {
		background: $text;
		color: $primary;
		border: 1px solid $primary;
	}
}
@mixin link-hover {
	&:hover {
		color: $primary;
	}
}
@mixin img-adaptive {
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
@mixin label {
	color: $links;
	font-size: 14px;
	font-style: normal;
	line-height: 150%;
}
@mixin input {
	@include label;
	padding: 11px 0 12px 16px;
	border: 1px solid $input-bor;
	background-color: $input-bg;
	border-radius: 4px;
}
@mixin title-block {
	margin: 0 auto;
	text-align: center;
	h2 {
		font-family: "Ubu-B";
		font-size: 46px;
		line-height: 130%;
		color: $titles;
	}
	h4 {
		margin: 24px 0 0;
		font-size: 18px;
		line-height: 150%;
		color: $desc;
		font-family: "Ubu-R";
		font-weight: 400;
	}
}
