$primary: #ff5a30;
$titles: #1e212c;
$links: #424551;
$desc: #787a80;
$input-bg: #f4f5f6;
$input-bor: #d7dadd;
$text: #fff;
$main-bg: #fff;
$auxiliary-bg: #f4f5f6;
//Output-Displays=========================
$header: 1120px;
$desktop: 992px;
$tablet: 768px;
$phone: 480px;
$phone-s: 320px;
