.portfolio-card {
	flex: 0 1 33.3333%;
	text-align: center;
	border-radius: 4px 4px 0 0;
	box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
		0px 12px 10px -6px rgba(154, 156, 165, 0.04),
		0px 30px 24px -10px rgba(154, 156, 165, 0.05),
		0px 80px 80px -20px rgba(154, 156, 165, 0.08);
	position: relative;
	overflow: hidden;
	padding: 0 0 90px;
	&:hover .portfolio-card__box {
		height: 37.5%;
	}
	@media (max-width: $desktop) {
		padding: 0 0 50px;
	}
	@media (max-width: $tablet) {
		flex: 0 1 100%;
		display: flex;
		flex-direction: row;
		padding: 0;
	}
	@media (max-width: $phone) {
		flex-direction: column;
		padding: 0 0 50px;
	}
	&__img {
		height: 345px;
		position: relative;
		@media (max-width: $desktop) {
			height: 240px;
		}
		@media (max-width: $tablet) {
			flex: 0 1 55%;
			height: 180px;
		}
		@media (max-width: $phone) {
			flex: 0 1 100%;
			min-height: 200px;
		}
	}
	&__box {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 21.6%;
		background-color: $main-bg;
		padding: 15px 0 25px;
		transition: all 0.3s ease-out;
		@media (max-width: $tablet) {
			position: relative;
			height: 100%;
			width: 45%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 10px;
		}
		@media (max-width: $phone) {
			position: absolute;
			width: 100%;
			height: 21.6%;
			bottom: 0;
			padding: 25px 3px 5px;
		}
	}
	&__box-title {
		font-family: 'Ubu-B';
		font-size: 20px;
		line-height: 105%;
		color: $titles;
		@media (max-width: $desktop) {
			font-size: 15px;
			line-height: 1;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: $phone) {
			font-size: 13px;
		}
	}
	&__box-subtitle {
		margin: 15px 0 0;
		font-size: 14px;
		color: $desc;
		line-height: 150%;
		@media (max-width: $desktop) {
			margin: 10px 0 0;
			font-size: 12px;
			line-height: 1;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: $phone) {
			font-size: 10px;
		}
	}
	&__box-btn {
		margin: 24px 0 0;
		@media (max-width: $desktop) {
			margin: 13px 0 0;
			height: 30px;
			font-size: 13px;
		}
		@media (max-width: $tablet) {
		}
		@media (max-width: $phone) {
			margin: 16px 0 0;
		}
	}
}
.card {
	animation: showCard 1s ease;
}
@keyframes showCard {
	0% {
		border-radius: 50%;
		transform: scale(0, 0);
		opacity: 0;
	}
	100% {
		border-radius: 4px;
		transform: scale(100%, 100%);
		opacity: 1;
	}
}
