.slider {
	@media (max-width: $desktop) {
		padding: 80px 0;
	}
	@media (max-width: $tablet) {
		padding: 60px 0;
	}
	@media (max-width: $phone) {
		padding: 40px 0;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__title {
		text-align: left;
		max-width: 700px;
		margin: 0;
	}
	&__buttons {
		display: flex;
		column-gap: 24px;
	}
	&__content {
		display: flex;
		margin: 60px 0 0;
		column-gap: 30px;
		@media (max-width: $desktop) {
			margin: 30px 0 0;
			column-gap: 20px;
		}
		@media (max-width: $tablet) {
			margin: 15px 0 0;
			flex-wrap: wrap;
			row-gap: 10px;
		}
		@media (max-width: $phone) {
		}
	}
	&__view-more {
		display: flex;
		justify-content: center;
		margin: 85px 0 0;
		@media (max-width: $desktop) {
			margin: 60px 0 0;
		}
		@media (max-width: $tablet) {
			margin: 40px 0 0;
		}
		@media (max-width: $phone) {
		}
	}
}
