.supported-by {
	&__title {
	}
	&__list {
		margin: 21px 0 0;
		display: flex;
		flex-wrap: wrap;
		column-gap: 102px;
		justify-content: center;
		> div {
			width: 120px;
			height: 64px;
			position: relative;
		}
		@media (max-width: $desktop) {
			column-gap: 20px;
			> div {
				width: 90px;
				height: 50px;
			}
		}
		@media (max-width: $phone) {
			column-gap: 10px;
			> div {
				width: calc(33.333% - 10px);
			}
		}
	}
}
