<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{favicon}}" type="image/x-icon">
	<title>
		{{filename}}
	</title>
</head>

<body class="body">
	<div class="wrapper">
		{{> header}}
		<section class="parallax-block">
			<img id="titleImage" alt="">
		</section>
		<main class="main">
			<section class="welcome ">
				<div class="welcome__body center">
					<h1 class="welcome__title">
						CREATE<span>X</span>
						<br>
						CONSTRUCTION
					</h1>
					<h2 class="welcome__subtitle">
						Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
						ipsum
						sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
					</h2>
					<div class="welcome__buttons">
						<button class="welcome__buttons-lb">LEARN MORE ABOUT US</button>
						<button class="welcome__buttons-rb">SUBMIT REQUEST</button>
					</div>
					<ul class="welcome__list">
						<li class="welcome__item">
							<a href="#">01</a>
						</li>
						<li class="welcome__item">
							<a href="#">02</a>
						</li>
						<li class="welcome__item">
							<a href="#">03</a>
						</li>
						<li class="welcome__item">
							<a href="#">04</a>
						</li>
					</ul>
				</div>
			</section>
			<section class="we-are">
				<div class="we-are__body center">
					<div class="we-are__title-block ">
						<h2>
							We are Createx Construction Bureau
						</h2>
						<h4>
							We are rightfully considered to be the best construction company in the USA.
						</h4>
					</div>
					<div class="we-are__content" id="homepageVideoBox">
						<video id="homepageVideoBox-video" poster="" class="we-are__content-video"
							src="/assets/videos/SON OF KICK.mp4" type="video/mp4">
						</video>
						<input type="checkbox" class="we-are__content-play" id="homepageVideoBox-play">
						<span class="we-are__content-play-real"></span>
						<div class="we-are__content-controls">
							<div class="we-are__content-controls-volume">
								<input type="checkbox" class="we-are__content-controls-volume-mute"
									id="homepageVideoBox-mute">
								<input type="range" max="100" value="50" class="we-are__content-controls-volume-lvl"
									id="homepageVideoBox-volume">
							</div>
							<div class="we-are__content-controls-bar">
								<progress class="we-are__content-controls-progress" id="homepageVideoBox-progress"
									max="100" value="0"></progress>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		{{> discuss}}
		{{> footer}}
		{{> goTop}}
	</div>
</body>

</html>