<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{favicon}}" type="image/x-icon">
	<title>
		{{filename}}
	</title>
</head>

<body class="body">
	<div class="wrapper">
		{{> header}}
		<section class="parallax-block">
			<img id="titleImage" alt="">
		</section>
		<main class="homepage main">
			<div class="homepage__first hp-first">
				<div class="hp-first__body">
					<h1 class="hp-first__title">
						CREATE<span>X</span>
						<br>
						CONSTRUCTION
					</h1>
					<h2 class="hp-first__subtitle">
						Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
						ipsum
						sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
					</h2>
					<div class="hp-first__buttons">
						<button class="hp-first__buttons-lb">LEARN MORE ABOUT US</button>
						<button class="hp-first__buttons-rb">SUBMIT REQUEST</button>
					</div>
					<ul class="hp-first__list">
						<li class="hp-first__item">
							<a href="#">01</a>
						</li>
						<li class="hp-first__item">
							<a href="#">02</a>
						</li>
						<li class="hp-first__item">
							<a href="#">03</a>
						</li>
						<li class="hp-first__item">
							<a href="#">04</a>
						</li>
					</ul>
				</div>
			</div>
		</main>
		{{> discuss}}
		{{> footer}}
		{{> goTop}}
	</div>
</body>

</html>