<div class="discuss">
	<section class="discuss-cover">
		<img id="discussImage" alt="Image not found...">
	</section>
	<div class="discuss__box">
		<div class="discuss__body">
			<h2 class="discuss__title">
				A quick way to discuss details
			</h2>
			<form class="discuss__form" id="discussForm">
				<label class="discuss__label" for="name">Name*</label>
				<input class="discuss__input" type="text" id="name" name="name" placeholder="Your name">

				<label class="discuss__label" for="phone">Phone*</label>
				<input class="discuss__input" type="number" id="phone" name="phone" placeholder="Your phone number">

				<label class="discuss__label" for="email">Email:</label>
				<input class="discuss__input" type="email" id="email" name="email" placeholder="Your working email">

				<label class="discuss__label" for="message">Message*</label>
				<textarea class="discuss__textarea" type="email" id="message" name="message"
					placeholder="Your message"></textarea>

				<label class="discuss__agreement">
					<input class="discuss__checkbox" type="checkbox" id="agreement" name="agreement">
					<h4 class="discuss__agreement-text">
						I agree to receive communications from Createx Construction Bureau.
					</h4>
				</label>

				<button class="discuss__btn" type="button">Send request</button>
			</form>
		</div>
	</div>
</div>