<footer class="footer">
	<div class="container">
		<div class="footer__body">
			<div class="footer__top">
				<div class="footer__top-description description">
					<div class="description__social">
						<img src="./assets/vendors/logo.svg" alt="CREATEX">
						<ul class="description__social-list">
							<li>
								<a href="./assets/vendors/Whatsapp.svg" class="description__social-link"></a>
							</li>
							<li>
								<a href="./assets/vendors/Messanger.svg" class="description__social-link"></a>
							</li>
							<li>
								<a href="./assets/vendors/Facebook.svg" class="description__social-link"></a>
							</li>
							<li>
								<a href="./assets/vendors/Twitter.svg" class="description__social-link"></a>
							</li>
							<li>
								<a href="./assets/vendors/YouTube.svg" class="description__social-link"></a>
							</li>
						</ul>
					</div>
					<p class="description__text">
						Createx Construction Bureau has been successfully operating in the USA construction market since
						2000. We are proud to offer you quality construction and exemplary service. Our mission is to
						set the highest standards for construction sphere.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>