<header class="header grid">
	<section class="header__body">
		<div class="header__logo">
			<a href="index.html">
				<img src="./assets/vendors/logo.svg" alt="CREATEX">
			</a>
		</div>
		<div class="burger" id="burgerToggle">
			<span></span><span></span><span></span>
		</div>
		<nav id="burgerMenu" class="header__menu">
			<ul class="header__list">
				<li>
					<a class="header__link link-hover" href="./about.html">About us</a>
				</li>
				<li>
					<a class="header__link link-hover" href="./services.html">Services</a>
				</li>
				<li>
					<a class="header__link link-hover" href="./work.html">Work</a>
				</li>
				<li>
					<a class="header__link link-hover" href="./news.html">News</a>
				</li>
				<li>
					<a class="header__link link-hover" href="./contacts.html">Contacts</a>
				</li>
			</ul>
		</nav>
		<div class="header__contacts">
			<a href="tel:+14055550128" class="header__contact">
				<div class="header__contact-img">
					<img src="./assets/vendors/phone.svg" alt="Phone">
				</div>
				<div class="header__contact-data">
					<h2 class="header__contact-data-title">Call us</h2>
					<p class="header__contact-data-subtitle">(405) 555-0128</p>
				</div>
			</a>
			<a href="mailto:dmitriivitenko1@gmail.com" class="header__contact">
				<div class="header__contact-img">
					<img src="./assets/vendors/chat.svg" alt="Chat">
				</div>
				<div class="header__contact-data">
					<h2 class="header__contact-data-title">Talk to us</h2>
					<p class="header__contact-data-subtitle">hello@createx.com</p>
				</div>
			</a>
		</div>
	</section>
</header>