<div class="container">
	<header class="header">
		<a class="header__logo" href="index.html">
			<img id="logo" alt="CREATEX">
		</a>
		<ul>
			<li><a href="About.html">About us</a></li>
			<li><a href="Services.html">Services</a></li>
			<li><a href="Work.html">Work</a></li>
			<li><a href="News.html">News</a></li>
			<li><a href="Contacts.html">Contacts</a></li>
		</ul>
	</header>
</div>