<script id="portfolioItemTempalte">
	<div class="portfolio-card">
		<div class="portfolio-card__img">
			<img class="image-adaptive" src="{{imagePath}}" alt="{{altText}}">
		</div>
		<div class="portfolio-card__box">
			<h3 class="portfolio-card__box-title">
				{{ name }}
			</h3>
			<h3 class="portfolio-card__box-subtitle">
				{{ description }}
			</h3>
			<a href="#" class="portfolio-card__box-btn outline-regular-btn">
				view project
			</a>
		</div>
	</div>
</script>