<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{favicon}}" type="image/x-icon">
	<title>
		{{filename}}
	</title>
</head>

<body>
	{{> header}}
	<main class="main">
		<section class="project grid">
			<img src="/assets/static-images/project-bg.png" alt="" class="image-adaptive">
			<div class="project__body invisible center" id="selected-project">

			</div>
		</section>
		<section class="decision grid">
			<div class="decision__body invisible center">
				<div>
					<div class="decision__image">
						<img src="/assets/static-images/decision.jpeg" class="image-adaptive" alt="">
					</div>
				</div>
				<div>
					<h3 class="decision__checklist-title">Constructive decision</h3>
					<ul class="decision__checklist-body">
						<li class="decision__checklist-item">
							<img src="/assets/vendors/check.svg" alt="Checked">
							Vitae ultrices ornare eu sed in est quisque duis id.
						</li>
						<li class="decision__checklist-item">
							<img src="/assets/vendors/check.svg" alt="Checked">
							A fermentum in morbi pretium aliquam adipiscing donec tempus.
						</li>
						<li class="decision__checklist-item">
							<img src="/assets/vendors/check.svg" alt="Checked">
							Mauris odio pellentesque commodo, diam.
						</li>
						<li class="decision__checklist-item">
							<img src="/assets/vendors/check.svg" alt="Checked">
							Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
						</li>
						<li class="decision__checklist-item">
							<img src="/assets/vendors/check.svg" alt="Checked">
							At pharetra libero blandit risus, fringilla sed commodo diam.
						</li>
						<li class="decision__checklist-item">
							<img src="/assets/vendors/check.svg" alt="Checked">
							Integer ultricies viverra ut enim viverra ut.
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="similar-projects grid">
			<div class="similar-projects__body invisible center" data-similar-projects="" id="similar-projects">

			</div>
		</section>
	</main>
	{{> discuss}}
	{{> footer}}
	{{> goTop}}
</body>

</html>