.welcome {
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
	}
	&__title {
		color: $text;
		font-family: "Ubu-B";
		font-size: 72px;
		line-height: 130%;
		letter-spacing: 1px;
		span {
			color: $primary;
		}
		@media (max-width: $desktop) {
			font-size: 56px;
		}
		@media (max-width: $tablet) {
			font-size: 40px;
			line-height: 120%;
		}
	}
	&__subtitle {
		margin: 24px 0 0;
		max-width: 595px;
		font-size: 20px;
		line-height: 150%;
		color: $text;
		font-family: "Ubu-R";
		font-weight: 400;
		@media (max-width: $tablet) {
			margin: 15px 0 0;
			font-size: 15px;
			line-height: 130%;
		}
	}
	&__buttons {
		margin: 61px 0 0;
		display: flex;
		column-gap: 24px;
		box-sizing: border-box;
		@media (max-width: $tablet) {
			margin: 30px 0 0;
		}
		@media (max-width: $phone) {
			flex-wrap: wrap;
			row-gap: 15px;
		}
	}
	&__buttons-lb {
		@include outline-btn();
		@media (max-width: $tablet) {
			@include outline-btn(14px, 40px, none, 20px);
		}
		@media (max-width: $phone) {
			flex: 0 1 50%;
		}
	}
	&__buttons-rb {
		@include solid-btn();
		@media (max-width: $tablet) {
			@include solid-btn(14px, 40px, none, 30px);
		}
		@media (max-width: $phone) {
			flex: 0 1 50%;
		}
	}
	&__list {
		display: flex;
		margin: 160px 0 0;
		column-gap: 8px;
		@media (max-width: $desktop) {
			margin: 60px 0 0;
		}
		@media (max-width: $tablet) {
			margin: 30px 0 0;
		}
		@media (max-width: $phone) {
			flex-wrap: wrap;
			row-gap: 10px;
		}
	}
	&__item {
		width: 178px;
		height: 54px;
		cursor: pointer;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: rgba($color: $text, $alpha: 0.6);
		}
		a {
			width: 100%;
			height: 100%;
			font-size: 28px;
			color: rgba($color: $text, $alpha: 0.6);
		}
		&:hover {
			&::after {
				background-color: rgba($color: $text, $alpha: 1);
				height: 2px;
				box-shadow: 0 0 3px 0.5px $input-bg;
			}
			a {
				color: rgba($color: $text, $alpha: 1);
			}
		}
		@media (max-width: $tablet) {
			height: 35px;
			a {
				font-size: 20px;
			}
		}
		@media (max-width: $phone) {
			flex: 0 1 49%;
		}
	}
}
.we-are {
	background-color: white;
	&__body {
		padding: 120px 0;
	}
	&__title-block {
		@include title-block();
	}
	&__content {
		margin: 60px 0 0;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 500px;
	}
	&__content-video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content-play {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	&__content-play-real {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($color: $titles, $alpha: 0.6);
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		transition: all 0.3s ease;
		&::before {
			content: "";
			border-radius: 50%;
			background: url("../assets/vendors/large.svg");
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 80px;
			transform: translate(-50%, -50%);
			transition: all 0.3s ease;
		}
	}
	&__content-controls {
		position: absolute;
		z-index: 1;
		bottom: -200px;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
		transition: all 0.4s ease;
		margin: 0 0 32px 32px;
	}
	&__content-controls-volume {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba($color: white, $alpha: 0.2);
	}
	&__content-controls-volume-mute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	&__content-controls-volume-mute-real {
		display: flex;
		.on {
			display: none;
		}
	}
	&__content-controls-volume-lvl {
		position: absolute;
		transform: rotate(-90deg);
		bottom: 70px;
		width: 75px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		height: 0;
		border-radius: 8px;
		transition: all 0.3s ease;
		cursor: pointer;
		overflow: hidden;

		&::-webkit-slider-runnable-track {
			background-color: rgba($color: $titles, $alpha: 0.4);
			overflow: hidden;
		}
		&::-moz-range-track {
			background-color: rgba($color: $titles, $alpha: 0.4);
			border-radius: 4px;
			overflow: hidden;
		}
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			background: #ecf0f1;
			cursor: pointer;
			width: 10px;
			height: 15px;
			border-radius: 8px;
			box-shadow: -200px 0 0 195px $primary;
		}
		&::-moz-range-thumb {
			-webkit-appearance: none;
			background: #ecf0f1;
			cursor: pointer;
			width: 12px;
			height: 15px;
			border-radius: 8px;
			box-shadow: -200px 0 0 198px $primary;
		}
	}
	&__content-controls-bar {
		margin: 0 0 0 30px;
		width: 80%;
	}
	&__content-controls-progress {
		width: 100%;
		height: 5px;
		border-radius: 5px;
		overflow: hidden;
		background-color: $titles;
		&::-webkit-progress-value {
			background: $primary;
		}
		&::-moz-progress-bar {
			background: $primary;
		}
	}
	&__content-play:hover + .we-are__content-play-real::before {
		box-shadow: 0 0 0 10px rgba($color: $primary, $alpha: 0.62);
	}
	&__content:hover .we-are__content-controls {
		bottom: 0;
	}
	&__content-play:checked + .we-are__content-play-real {
		background: rgba($color: $titles, $alpha: 0);
		&::before {
			transform: translate(-50%, -400%) scale(0);
		}
	}
	&__content-controls-volume-mute:checked + .we-are__content-controls-volume-mute-real {
		.on {
			display: block;
		}
		.off {
			display: none;
		}
	}
	&__content-controls-volume-mute:hover ~ .we-are__content-controls-volume-lvl {
		height: 15px;
	}
	&__content-controls-volume-lvl:hover {
		height: 15px;
	}
}
