<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{favicon}}" type="image/x-icon">
	<title>
		{{filename}}
	</title>
</head>

<body class="body">
	<div class="wrapper">
		<section class="parallax-block full-viewport">
			<img id="titleImage" class="image-adaptive" alt="Title image">
		</section>
		{{> header}}
		<main class="main">
			<section class="welcome grid">
				<div class="welcome__body center">
					<h1 class="welcome__title">
						CREATE<span>X</span>
						<br>
						CONSTRUCTION
					</h1>
					<h2 class="welcome__subtitle">
						Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin
						ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
					</h2>
					<div class="welcome__buttons">
						<a href="#" class="welcome__buttons-lb outline-solid-btn">LEARN MORE ABOUT US</a>
						<a href="#discuss" class="welcome__buttons-rb solid-button">SUBMIT REQUEST</a>
					</div>
					<ul class="welcome__list">
						<li class="welcome__item">
							<a href="#our-core">01</a>
						</li>
						<li class="welcome__item">
							<a href="#our-service">02</a>
						</li>
						<li class="welcome__item">
							<a href="#opinions">03</a>
						</li>
						<li class="welcome__item">
							<a href="#recent-news">04</a>
						</li>
					</ul>
				</div>
			</section>
			<section class="we-are grid">
				<div class="we-are__body invisible center">
					<div class="we-are__title title-block">
						<h2 class="title-block__title">
							We are Createx Construction Bureau
						</h2>
						<h4 class="title-block__subtitle">
							We are rightfully considered to be the best construction company in the USA.
						</h4>
					</div>
					<div class="we-are__content" id="homepageVideoBox">
						<video id="homepageVideoBox-video" class="image-adaptive"
							poster="/assets/static-images/videoCoverImage.png" class="we-are__content-video"
							src="/assets/videos/SON OF KICK.mp4" type="video/mp4">
						</video>
						<input type="checkbox" class="we-are__content-play" id="homepageVideoBox-play">
						<span class="we-are__content-play-real"></span>
						<div class="we-are__content-controls" id="videoController">
							<div class="we-are__content-controls-volume">
								<input type="checkbox" class="we-are__content-controls-volume-mute"
									id="homepageVideoBox-mute">
								<span class="we-are__content-controls-volume-mute-real">
									<svg class="off" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										viewBox="0 0 24 24" fill="none">
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M14.4 18.7C15.1 19.2 16 18.8 16 17.9V13.4L12.3 17.1L14.4 18.7Z"
											fill="white" />
										<path fill-rule="evenodd" clip-rule="evenodd"
											d="M20.7 5.3C20.3 4.9 19.7 4.9 19.3 5.3L16 8.6V6.1C16 5.3 15 4.8 14.4 5.3L11.6 7.6C11.2 7.8 10.8 8 10.3 8H8C6.9 8 6 8.9 6 10V14C6 15.1 6.9 16 8 16H8.6L5.3 19.3C4.9 19.7 4.9 20.3 5.3 20.7C5.7 21.1 6.3 21.1 6.7 20.7L20.7 6.7C21.1 6.3 21.1 5.7 20.7 5.3Z"
											fill="white" />
									</svg>
									<svg class="on" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
										viewBox="0 0 24 24" fill="none">
										<path
											d="M2 10C2 8.9 2.9 8 4 8H6.3C6.8 8 7.2 7.8 7.5 7.6L10.3 5.3C11 4.8 12 5.2 12 6.1V17.9C12 18.7 11 19.2 10.4 18.7L7.6 16.4C7.2 16.2 6.8 16 6.3 16H4C2.9 16 2 15.1 2 14V10Z"
											fill="white" />
										<path
											d="M15 17C14.7 17 14.5 16.9 14.3 16.7C13.9 16.3 13.9 15.7 14.3 15.3C14.3 15.3 15.5 14 15.5 12C15.5 10 14.3 8.8 14.3 8.7C13.9 8.3 13.9 7.7 14.3 7.3C14.7 6.9 15.3 6.9 15.7 7.3C15.8 7.4 17.5 9.1 17.5 12C17.5 14.9 15.8 16.6 15.7 16.7C15.5 16.9 15.3 17 15 17Z"
											fill="white" />
										<path
											d="M18 21C17.7 21 17.5 20.9 17.3 20.7C16.9 20.3 16.9 19.7 17.3 19.3C17.3 19.3 20.2 16.5 20.2 12C20.2 7.5 17.3 4.8 17.3 4.7C16.9 4.3 16.9 3.7 17.3 3.3C17.7 2.9 18.3 2.9 18.7 3.3C18.8 3.4 22.2 6.7 22.2 12C22.2 17.4 18.8 20.6 18.7 20.7C18.5 20.9 18.2 21 18 21Z"
											fill="white" />
									</svg>
								</span>
								<input type="range" max="100" value="50" class="we-are__content-controls-volume-lvl"
									id="homepageVideoBox-volume">
							</div>
							<div class="we-are__content-controls-bar">
								<progress class="we-are__content-controls-progress" id="homepageVideoBox-progress"
									max="100" value="0"></progress>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="our-core" class="our-core grid ">
				<div class="our-core__body invisible center">
					{{>advantages}}
					<div class="our-core__question-form question-form">
						<h2 class="question-form__title">
							Want to know more? Ask us a question:
						</h2>
						<form class="question-form__body" id="questionForm">
							<div class="question-form__field" data-error-text="Please use only letters">
								<label class="question-form__label label" for="qustionName">Name</label>
								<input class="question-form__input input" data-typeCheck="letters" data-required="true"
									type="text" id="qustionName" name="qustionName" placeholder="Your name"
									autocomplete="name">
							</div>

							<div class="question-form__field" data-error-text="Please use only numbers">
								<label class="question-form__label label" for="questionPhone">Phone</label>
								<input class="question-form__input input" data-typeCheck="numbers" data-required="true"
									type="text" id="questionPhone" name="questionPhone" placeholder="Your phone number"
									autocomplete="tel">
							</div>

							<div class="question-form__field width" data-error-text="Ask your qustion">
								<label class="question-form__label label" for="questionMessage">Message</label>
								<input class="question-form__input input" data-required="true" type="text"
									id="questionMessage" name="questionMessage" placeholder="Your message"></input>
							</div>

							<button class="question-form__btn solid-button" type="submit">Send</button>

							<div id="questionSuccess" class="success-block qustion-success">
								<div>
									<h5>Congratulations!</h5>
									<p data-success-text="Please expect a call from our consultant soon">
									</p>
								</div>
								<button id="questionClose" class="solid-button" type="submit">Great!</button>
							</div>
						</form>
					</div>
				</div>
			</section>
			<section id="our-service" class="our-service grid">
				<img class="image-adaptive" id="ourServicesBg" alt="Pretty background">
				<div class="our-service__body invisible center">
					<div class="our-service__title title-block">
						<h2 class="title-block__title">Our services</h2>
						<h4 class="title-block__subtitle">
							Createx Construction Bureau is a construction giant with a full range of construction
							services.
						</h4>
					</div>
					<div id="homepage-serviceBlock" class="our-service__content">
						<a href="services/construction.html" class="our-service__item">
							<img id="service-0" class="image-adaptive" alt="">
							<div class="our-service__item-box" id="box">
								<img class="our-service__item-box-svg" src="/assets/vendors/construction.svg" alt="">
								<h5 class="our-service__item-box-title">Construction</h5>
							</div>
						</a>
						<a href="services/interior-design.html" class="our-service__item">
							<img id="service-1" class="image-adaptive" alt="">
							<div class="our-service__item-box">
								<img class="our-service__item-box-svg" src="/assets/vendors/plan.svg" alt="">
								<h5 class="our-service__item-box-title">Project Development</h5>
							</div>
						</a>
						<a href="services/project-development.html" class="our-service__item">
							<img id="service-2" class="image-adaptive" alt="">
							<div class="our-service__item-box">
								<img class="our-service__item-box-svg" src="/assets/vendors/pantone.svg" alt="">
								<h5 class="our-service__item-box-title">Interior Design</h5>
							</div>
						</a>
						<a href="services/repairs.html" class="our-service__item">
							<img id="service-3" class="image-adaptive" alt="">
							<div class="our-service__item-box">
								<img class="our-service__item-box-svg" src="/assets/vendors/painting.svg" alt="">
								<h5 class="our-service__item-box-title">Repairs</h5>
							</div>
						</a>
					</div>
					<div class="our-service__box view-more-block">
						<p class="view-more-block__title">
							Learn more about our services
						</p>
						<a class="view-more-block__link solid-button" href="services.html">
							view services
						</a>
					</div>
				</div>
			</section>
			<section class="our-work grid">
				<div class="our-work__body invisible center" id="selected-projects">

				</div>
			</section>
			<section id="opinions" class="supported grid ">
				<div class="supported__body invisible center">
					{{> supported-by}}
					{{> opinions}}
				</div>
			</section>
			<section class="achievement grid ">
				<div class="achievement__body  center">
					<div class="achievement__title title-block">
						<h2 class="title-block__title">
							Some facts and figures
						</h2>

					</div>
					<div class="achievement__content " id="progressBox">
						<div class="achievement__item progress">
							<div class="progress__wrapper yellow">
								<svg class="progress__ring">
									<circle id="progressRingClients" style class="progress__circle yellow__stroke"
										cx="75" cy="75" r="72" />
								</svg>
								<span>98%</span>
							</div>
							<h4 class="progress__name">
								Totally satisfied clients
							</h4>
						</div>

						<div class="achievement__item progress">
							<div class="progress__wrapper purple">
								<svg class="progress__ring ">
									<circle id="progressRingExp" class="progress__circle purple__stroke" cx="75" cy="75"
										r="72" />
								</svg>
								<span>20</span>
							</div>
							<h4 class="progress__name">
								Years of experience
							</h4>
						</div>

						<div class="achievement__item progress">
							<div class="progress__wrapper blue">
								<svg class="progress__ring">
									<circle id="progressRingHours" class="progress__circle blue__stroke" cx="75" cy="75"
										r="72" />
								</svg>
								<span>9452</span>
							</div>
							<h4 class="progress__name">
								Working hours spent
							</h4>
						</div>

						<div class="achievement__item progress">
							<div class="progress__wrapper green">
								<svg class="progress__ring">
									<circle id="progressRingProjects" class="progress__circle green__stroke" cx="75"
										cy="75" r="72" />
								</svg>
								<span>100%</span>
							</div>
							<h4 class="progress__name">
								Succeeded projects
							</h4>
						</div>
					</div>
				</div>
			</section>
			<section id="recent-news" class="recent grid ">
				<div class="recent__body  invisible center">
					<div class="recent__title title-block">
						<h2 class="title-block__title">
							Recent news
						</h2>
					</div>
					<div class="recent__content" id="recentBox">
					</div>
					<div class="recent__box view-more-block">
						<p class="view-more-block__title">
							Explore all our news posts
						</p>
						<a class="view-more-block__link solid-button" href="#">
							View all news
						</a>
					</div>
				</div>
			</section>
		</main>
		{{> discuss}}
		{{> footer}}
		{{> goTop}}
	</div>
</body>


</html>