<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{favicon}}" type="image/x-icon">
	<title>
		{{filename}}
	</title>
</head>

<body>
	<div class="wrapper">
		{{> header}}
		<section class="parallax-block">
			<img id="serviceTitleImage" class="image-adaptive for-service" alt="Title image">
		</section>
		<main class="main">
			<section class="name-page-block grid">
				<div class="name-page-block__body center">
					<ul class="name-page-block__list">
						<li>
							<a class="link-hover" href="/">
								Homepage / 
							</a>
						</li>
						<li>
							<a class="link-hover" href="../services.html">
								Services / 
							</a>
						</li>
						<li>
							<a class="link-hover" href="./interior-design.html">
								Interior design
							</a>
						</li>
					</ul>
					<h1 class="name-page-block__title">
						Interior Design
					</h1>
					<p class="name-page-block__text">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos dolores dolorem, doloribus
						aliquam iusto voluptate perferendis veritatis molestias obcaecati ad at sapiente, accusamus
						alias ducimus error nulla voluptatem ipsa similique!
					</p>
				</div>
			</section>

		</main>
		{{> discuss}}
		{{> footer}}
		{{> goTop}}
	</div>
</body>

</html>